<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<form action="/" method="POST">
Email : <input type="text" name="email">
Password : <input type="text" name="password">
<div>
    <input type="submit" value="LogIn">
</div>

<div>
    <input type="button" value="SignUp">
</div>
</form>
{{!-- <script>
    function login(){
        var email = document.getElementById('email').value;
        var password = document.getElementById('password').value;

        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function(){
            if(this.readyState == 2){
                console.log(this.getAllResponseHeaders("authorization"));
            }
            if(this.readyState == 4){
                if(this.status == 200){
                    console.log(this.responseText)
                }
                else if(this.status = 403){

                }
            }
        }
        xhttp.open('post' , '/users/signin',true)
        xhttp.setRequestHeader('Content-Type' , 'application/json')
        xhttp.send(JSON.stringify({email : email , password : password}))
    }
</script> --}}